.set-width {
    width: 64px;
    font-size: 12px;
  }

.order-txt {

    font-size: 12px;
    color: #000;
    font-weight: 500;
    text-align: center;
    margin-top: 5px;
}
h2{
  font-size: 26px;
  color: #000;
  font-weight: 500;
  text-align: center;
  margin-top: 5px;
}
.order-postion{
  margin-left: 0;
}
input[type='number']::-webkit-inner-spin-button, 
input[type='number']::-webkit-outer-spin-button { 
    opacity: 1;
}
input{
  background-color: white !important;
  color: rgb(0, 0, 0) !important;
}
span{
    font-size: 12px;
    color: #000;
    font-weight: 500;
    margin: 8px;
}
.order-page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.order-list {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
}
.icon {
  font-size: 20px;
  background-color: #f8f9fa !important;
  
}

.order-total {
  padding: 0px;
  
  background-color: #f8f9fa;
  border-top: 1px solid #ddd;
  text-align: center;
  margin-bottom: 15%;
  margin-left: 0%;
}