html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%; /* Ensure full width */
}
.App {
  display: flex;
  flex-direction: column;
  height: 95%;
  width: 100%;
  
}



.body-page {

  flex: 1;
  display: flex;

  width: 100%;
  flex-direction: column;
  overflow: hidden;
  margin-top: 60px; /* same as HeaderBar height */
  height: calc(100% - 60px);
}

.flex-grow-1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

input[type="time"] {
  background-color: white !important;
  color: black !important;
}


.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.column {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
}

.left {
  background-color: #f0f0f0;
}

.right {
  background-color: #cccccc;
  height: 100%;
}

